<!DOCTYPE html>
<html ng-app="app">

<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='style.css'/>

    <script src="bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/barController.js"></script>
    <script type="text/javascript" src="services/barFactory.js"></script>
    <script type="text/javascript" src="services/ingrediantsFactory.js"></script>
    <script type="text/javascript" src="services/orderFactory.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap-5-8-10.css" />


</head>

<body ng-controller="barController as vm">
<div class="container" ng-hide="vm.addIngr">
    <div class="row center">
        <h2> Bar Stock </h2>
    </div>
    <div class="row marginT20">
        <div class="col-md-3 col-sm-6 col-lg-3 col-xs-6" ng-repeat="opt in vm.ingrediants">
            <div class="row">
                <div class="ingrediant col-md-10 col-md-offset-1">
                    <span class="drink">{{ opt.drink}}</span>
                    <span class="mt">{{ opt.mt}}</span>
                    <span class="qty">{{ opt.qty}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row center">
        <h1> Orders</h1>
    </div>
    <div class="row">
        <div class="col-lg-5-12 col-md-3 col-sm-4 col-xs-6 order marginT20" ng-repeat="order in vm.orderObject">
            <div class="header">
                <h4>{{order.order}}</h4>
            </div>

            <div class="body">
                <ul class="ingrediant col-md-10 col-md-offset-1" ng-init="idx=$index">
                    <li ng-repeat=" opt in order.ingrediants">
                        <span class="drink">{{ opt.drink}}</span>  <span class="qty pull-left">{{ opt.qty}}</span> <span class="mt pull-left">{{ opt.mt}}</span>
                    </li>
                </ul>

                <div class="quantity" >
                    <div class='centered'>
                        <input class=" btn-arith pull-left" type="button" ng-click="vm.addOrder(order.order, $index)" ng-disabled="vm.incBtn[idx]" value="+">
                        <input class="number qtyText" type="text" ng-model="vm.qty[idx]" />
                        <input class="btn-arith pull-right" type="button" ng-click="vm.remIng(order.order, $index)" value="-" ng-disabled="vm.decBtn[idx]">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row center orderBtnContainer">
        <input type="button" value="Place Order" ng-click="vm.placeOrderHandler()" />
    </div>
</div>


<div class="container" ng-hide="vm.placeOrder">
    <div class="row center">
        <h2>Summary</h2>
    </div>
    <ul class="placeOrderList" ng-init="count">
        <li ng-repeat="opt in vm.orderObject">
            <span class="qty">{{ vm.qty[$index]}}</span>
            <span class="drink">{{ opt.order}}</span>
        </li>
        <li>
            {{vm.getCountofOrderObject()}} TOTAL
        </li>
    </ul>
</div>


</body>

</html>